body {
  height: 800px;
  background-image: url("https://c.static-nike.com/a/images/w_1920,c_limit/mdbgldn6yg1gg88jomci/image.jpg");
  background-size: cover;
  background-size: 25rem;
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.titulo {
  text-align: center;
  color: aliceblue;
  margin-bottom: 30px;
}

.productos {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  margin-left: 60px;
}
.descripcion {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  color: aliceblue;
  margin-left: 60px;
}
.precio {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  color: aliceblue;
  margin-left: 60px;
}
.agregar-al-carrito {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
img {
  height: 200px;
  width: 200px;
}
.formulario {
  display: grid;
  grid-template-columns: 2, 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
  
}
.formulario-de-contacto {
  margin-top: 30px;
  color: azure;
}
.nombre {
  margin-top: 30px;
  color: azure;
}
.apellido {
  margin-top: 30px;
  color: azure;
}
.titulo-del-texto {
  margin-bottom: 10px;
  color: azure;
}
.texto {
  margin-bottom: 30px;
  margin-top: 20px;
  
}
.email {
  margin-top: 30px;
  color: azure;
}
.enviar-mensaje {
  margin-bottom: 10px;
  margin-top: 15px;
}


